policy_module(peersend, 1.100.1)

########################################
#
# Declarations
#

type peersend_t;
type peersend_exec_t;
init_daemon_domain(peersend_t, peersend_exec_t)

permissive peersend_t;

type peersend_initrc_exec_t;
init_script_file(peersend_initrc_exec_t)

type peersend_conf_t;
files_type(peersend_conf_t)

type peersend_var_lib_t;
files_type(peersend_var_lib_t)

type peersend_var_run_t;
files_type(peersend_var_run_t)

type peersend_port_t;
corenet_port(peersend_port_t)

########################################
#
# peersend local policy
#
allow peersend_t self:process { fork };

allow peersend_t self:fifo_file rw_fifo_file_perms;
allow peersend_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(peersend_t, peersend_conf_t, peersend_conf_t)
manage_files_pattern(peersend_t, peersend_conf_t, peersend_conf_t)

manage_dirs_pattern(peersend_t, peersend_var_lib_t, peersend_var_lib_t)
manage_files_pattern(peersend_t, peersend_var_lib_t, peersend_var_lib_t)
files_var_lib_filetrans(peersend_t, peersend_var_lib_t, { dir file })

manage_dirs_pattern(peersend_t, peersend_var_run_t, peersend_var_run_t)
manage_files_pattern(peersend_t, peersend_var_run_t, peersend_var_run_t)

sysnet_dns_name_resolve(peersend_t)
corenet_all_recvfrom_unlabeled(peersend_t)

allow peersend_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(peersend_t)
corenet_tcp_sendrecv_generic_node(peersend_t)
corenet_tcp_sendrecv_all_ports(peersend_t)
corenet_tcp_bind_generic_node(peersend_t)

gen_require(`
    type peersend_port_t;
')
allow peersend_t peersend_port_t:tcp_socket name_bind;

gen_require(`
    type peersend_port_t;
')
allow peersend_t peersend_port_t:tcp_socket name_connect;

domain_use_interactive_fds(peersend_t)

files_read_etc_files(peersend_t)

miscfiles_read_localization(peersend_t)

sysnet_dns_name_resolve(peersend_t)

allow peersend_t peersend_exec_t:file execute_no_trans;
allow peersend_t self:process setsched;
corecmd_exec_ls(peersend_t)
corenet_tcp_connect_http_port(peersend_t)
dev_read_urand(peersend_t)
fs_getattr_xattr_fs(peersend_t)
kernel_read_system_state(peersend_t)
