
## <summary>policy for peersend</summary>


########################################
## <summary>
##	Transition to peersend.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`peersend_domtrans',`
	gen_require(`
		type peersend_t, peersend_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, peersend_exec_t, peersend_t)
')


########################################
## <summary>
##	Execute peersend server in the peersend domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`peersend_initrc_domtrans',`
	gen_require(`
		type peersend_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, peersend_initrc_exec_t)
')


########################################
## <summary>
##	Search peersend lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`peersend_search_lib',`
	gen_require(`
		type peersend_var_lib_t;
	')

	allow $1 peersend_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read peersend lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`peersend_read_lib_files',`
	gen_require(`
		type peersend_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, peersend_var_lib_t, peersend_var_lib_t)
')

########################################
## <summary>
##	Manage peersend lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`peersend_manage_lib_files',`
	gen_require(`
		type peersend_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, peersend_var_lib_t, peersend_var_lib_t)
')

########################################
## <summary>
##	Manage peersend lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`peersend_manage_lib_dirs',`
	gen_require(`
		type peersend_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, peersend_var_lib_t, peersend_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a peersend environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`peersend_admin',`
	gen_require(`
		type peersend_t;
		type peersend_initrc_exec_t;
		type peersend_var_lib_t;
	')

	allow $1 peersend_t:process { ptrace signal_perms };
	ps_process_pattern($1, peersend_t)

	peersend_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 peersend_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, peersend_var_lib_t)

')

